<footer class="footer">
    <div class="footer-container">
        <div class="footer-row">
            <div class="footer-col">
                <h4>Home</h4>
                <ul>
                    <li><a href="/Home/RegulationChanges">Regulation Changes</a></li>
                    <li><a href="/Home/SeasonChanges">Season Changes</a></li>
                    <li><a href="/Home/SeasonIntroduction">Season Introduction</a></li>
                    <li><a href="/Home/SeasonSummary">Season Summary</a></li>
                    <li><a href="https://github.com/RafaGomezGuillen/formula-one">About</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Pages</h4>
                <ul>
                    <li><a href="/Drivers">Drivers</a></li>
                    <li><a href="/Schedule">Schedule</a></li>
                    <li><a href="/Teams/RedBull">Red Bull Team</a></li>
                    <li><a href="/Results">Results</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>My Pages</h4>
                <ul>
                    <li><a href="https://game.smoothmatch3.com/">Smooth Match 3</a></li>
                    <li><a href="https://rafagomezguillen.github.io/learn-how-to-code/">Learn How To Code</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://github.com/RafaGomezGuillen"><i class="bi bi-github"></i></a>
                    <a href="https://twitter.com/gom3zra72"><i class="bi bi-twitter"></i></a>
                    <a href="https://www.instagram.com/rafagomez.jpg/"><i class="bi bi-instagram"></i></a>
                    <a href="www.linkedin.com/in/rafael-gómez-guillén"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-row">
            <div class="footer-col" style="margin-top: 20px"> 
                <a href="/">
                    <img src="/img/F1Logo.svg" style="width: 110px; margin-right: 10px; margin-bottom: 10px" />
                </a>
            </div>
            <div class="footer-col-bottom">
                <p>
                    © 2023 Formula One World Championship Limited. Rafael Gómez Guillén.
                </p>
            </div>
        </div>
    </div>
</footer>

