@inject HttpClient Http

<div style="background-color: #e10600;">
    <Bar Breakpoint="Breakpoint.Desktop"
         Style="color:white"
    >
        <a href="/" >
            <img src="/img/F1Logo.svg" style="width: 110px; margin-right: 10px;" />
        </a>
        <BarToggler />
        <BarMenu>
            <BarStart>
                <BarItem>
                    <BarLink To="/Drivers">Drivers</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="/Schedule">Schedule</BarLink>
                </BarItem>
                <BarItem>
                    <BarDropdown>
                        <BarDropdownToggle>Teams</BarDropdownToggle>
                        <BarDropdownMenu>
                            <table>
                                <tr>
                                    <td><BarDropdownItem><a href="/Teams/AlfaRomeo">Alfa Romeo <img src="/img/header/alfa-romeo.png" alt="Alfa Romeo" /></a></BarDropdownItem></td>
                                    <td><BarDropdownItem><a href="/Teams/AlphaTauri">AlphaTauri <img src="/img/header/alphatauri.png" /></a></BarDropdownItem></td>
                                </tr>
                                <tr>
                                    <td><BarDropdownItem><a href="/Teams/Alpine">Alpine <img src="/img/header/alpine.png" /></a></BarDropdownItem></td>
                                    <td><BarDropdownItem><a href="/Teams/AstonMartin">Aston Martin <img src="/img/header/aston.png" /></a></BarDropdownItem></td>
                                </tr>
                                <tr>
                                    <td><BarDropdownItem><a href="/Teams/Ferrari">Ferrar <img src="/img/header/ferrari.png" />i</a></BarDropdownItem></td>
                                    <td><BarDropdownItem><a href="/Teams/Haas">Haas <img src="/img/header/haas.png" /></a></BarDropdownItem></td>
                                </tr>
                                <tr>
                                    <td><BarDropdownItem><a href="/Teams/McLaren">McLaren <img src="/img/header/mclaren.png" /></a></BarDropdownItem></td>
                                    <td><BarDropdownItem><a href="/Teams/Mercedes">Mercedes <img src="/img/header/mercedes.png" /></a></BarDropdownItem></td>
                                </tr>
                                <tr>
                                    <td><BarDropdownItem><a href="/Teams/RedBull">Red Bull <img src="/img/header/red-bull.png" /></a></BarDropdownItem></td>
                                    <td><BarDropdownItem><a href="/Teams/Williams">Williams <img src="/img/header/williams.png" /></a></BarDropdownItem></td>
                                </tr>
                            </table>
                        </BarDropdownMenu>
                    </BarDropdown>
                </BarItem>
                <BarItem>
                    <BarLink To="/Results">Results</BarLink>
                </BarItem>
            </BarStart>
        </BarMenu>
    </Bar>
</div>
