@page "/"

<PageTitle>Home</PageTitle>

<div class="row">
    <div class="leftcolumn">
        <div class="card" style="margin: 0px;">
            <Card>
                <CardImage Source="/img/Introduction.jpg" Alt="Placeholder image" />
                <CardBody>
                    <CardTitle Size="3">
                        Season introduction
                    </CardTitle>
                    <CardText>
                        The 2022 Formula One Championship was a motor racing competition for Formula One cars, which was the 73rd edition of the Formula One 
                        World Championship. The championship saw the introduction of significant changes to the sport’s technical regulations, 
                        which had been planned for 2021, but were delayed until 2022 due to the COVID-19 pandemic.
                    </CardText>
                    <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                        <Link To="/Home/SeasonIntroduction" TextColor="TextColor.White">
                            READ MORE <Icon Name="IconName.ArrowRight" />
                        </Link>
                    </Button>
                </CardBody>
            </Card>
        </div>
        <div class="card">
            <Card>
                <CardImage Source="/img/Regulation.jpg" Alt="Placeholder image" />
                <CardBody>
                    <CardTitle Size="3">
                        Regulation changes
                    </CardTitle>
                    <CardText>
                        The 2022 F1 season will see the introduction of a new generation of cars, designed to improve the quality of racing and allow closer battles on track.
                        In addition to the technical changes, the 2022 season will also see some changes in the sporting regulations, such as a frozen power unit development, a sliding scale of aerodynamic testing based on the constructors’ standings, and a return to a two-part pre-season test.
                    </CardText>
                    <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                        <Link To="/Home/RegulationChanges" TextColor="TextColor.White">
                        READ MORE <Icon Name="IconName.ArrowRight" />
                        </Link>
                    </Button>
                </CardBody>
            </Card>
        </div>
    </div>
    <div class="rightcolumn">
        <div class="card">
            <Card>
                <CardImage Source="/img/Summary.jpg" Alt="Placeholder image" />
                <CardBody>
                    <CardTitle Size="3">
                        Season summary
                    </CardTitle>
                    <CardText>
                        Max Verstappen won his second consecutive World Drivers Championship driving for Red Bull Racing. 
                        Charles Leclerc finished runner-up, driving for Ferrari. 
                        Sergio Pérez was third, driving for Red Bull Racing. Red Bull Racing won their fifth World Constructors Championship.
                    </CardText>
                    <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                        <Link To="/Home/SeasonSummary" TextColor="TextColor.White">
                        READ MORE <Icon Name="IconName.ArrowRight" />
                        </Link>
                    </Button>
                </CardBody>
            </Card>
        </div>
        <div class="card">
            <Card>
                <CardImage Source="/img/Changes.jpg" Alt="Placeholder image" />
                <CardBody>
                    <CardTitle Size="3">
                        Team, driver and mid-season changes
                    </CardTitle>
                    <CardText>
                        Honda initially stated that they would not supply power units beyond 2021. 
                        Kimi Räikkönen retired following the conclusion of the 2021 championship.
                        Ahead of the Bahrain Grand Prix, Sebastian Vettel tested positive for coronavirus...
                    </CardText>
                    <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                        <Link To="/Home/SeasonChanges" TextColor="TextColor.White">
                        READ MORE <Icon Name="IconName.ArrowRight" />
                        </Link>
                    </Button>
                </CardBody>
            </Card>
        </div>
        <div class="card"> 
            <Card Background="Background.White" style="height: 342px;">
                <CardBody>
                    <CardTitle Size="3">
                        About
                    </CardTitle>
                    <CardText>
                        Formula One is a Web Page inspired in the <a href="https://www.formula1.com/">Oficial Formula One Web Page</a>. 
                        It was created using <a href="https://learn.microsoft.com/en-us/aspnet/core/blazor/?view=aspnetcore-7.0">ASP.NET Core Blazor</a>.
                        Layout, components and charts were created using the <a href="https://blazorise.com/docs">Blazorise Library</a>. All data were extracted from the 
                        <a href="https://en.wikipedia.org/wiki/2022_Formula_One_World_ChampionshipFormula">Formula One 2022 Season Wikipedia</a>. 
                        External resources:
                        <ul class="about-links">
                            <li><a href="https://icons.getbootstrap.com/">Icons</a></li>
                            <li><a href="https://codepen.io/alvarotrigo/pen/vYRRxje">Footer Desing</a></li>
                            <li><a href="https://json2csharp.com/">Json To C#</a></li>
                            <li><a href="https://imagecompressor.com/">Image optimizer</a></li>
                            <li><a href="http://web.archive.org/">Way Back Machine</a></li>
                        </ul>
                    </CardText>
                    <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                        <Link To="https://github.com/RafaGomezGuillen/formula-one" TextColor="TextColor.White">
                        READ MORE <Icon Name="IconName.ArrowRight" />
                        </Link>
                    </Button>
                </CardBody>
            </Card>
        </div>
    </div>
</div>

@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>


@code {
    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
    };
}

