@page "/Home/SeasonChanges"
<PageTitle>Season changes</PageTitle>

<Jumbotron style="border-bottom: solid grey 5px; border-right: solid grey 5px; border-bottom-right-radius: 10px;">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">
        <h1 style="font-size: 42px; line-height: 48px; letter-spacing: 0.2px">
            Team, driver and mid-season changes
        </h1>
    </JumbotronTitle>
    <JumbotronSubtitle>
        Honda initially stated that they would not supply power units beyond 2021. Kimi Räikkönen retired following the conclusion of the 2021 championship. Ahead of the Bahrain Grand Prix, Sebastian Vettel tested positive for coronavirus...
    </JumbotronSubtitle>
    <div class="carousel">
        <Carousel @bind-SelectedSlide="@selectedSlide" Crossfade="true" ShowControls="false" ShowIndicators="false" Interval="2000"
                    style="border-top: solid #e10600 5px; border-right: solid #e10600 5px; border-top-right-radius: 10px;">
            <CarouselSlide Name="1">
                <Image Source="img/season-changes/Magnussen.jpg" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="2">
                <Image Source="img/season-changes/Mazepin.jpeg" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="3">
                <Image Source="img/season-changes/Raikkonen.jpeg" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="4">
                <Image Source="img/season-changes/Zhou.jpg" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
            <CarouselSlide Name="5">
                <Image Source="img/season-changes/Nyck.jpg" Display="Display.Block" Width="Width.Is100" />
            </CarouselSlide>
        </Carousel>
    </div>
    <Divider DividerType="DividerType.TextContent" Text="Team changes" />
    <Paragraph>
        Honda initially stated that they would not supply power units beyond 2021. 
        The company had provided power units to Scuderia AlphaTauri (previously called Scuderia Toro Rosso) since 2018 and 
        to Red Bull Racing since 2019. Initially, Red Bull Racing planned to take over Honda's engine programme and manage it in-house, 
        under a new division called Red Bull Powertrains. 
        <br /><br />
        The decision was made after lobbying the other nine teams to negotiate an 
        engine development freeze until 2025. Red Bull Racing acknowledged that they would have left the championship if the engine development 
        freeze had not been agreed to as they could not develop a brand new engine, and both Red Bull Racing and Renault were unwilling 
        to resume their former partnership. Honda later agreed to continue supplying Red Bull Racing and AlphaTauri for 2023 with engines 
        for this season, which were rebadged to Red Bull Powertrains. 
        <br /><br />
        In addition to the assembly and maintenance of the engines, 
        Honda continued to provide Red Bull Racing and AlphaTauri with technical and operational oversight during race weekends.
    </Paragraph>
    <Divider DividerType="DividerType.TextContent" Text="Driver changes" />
    <Paragraph>
        Kimi Räikkönen retired following the conclusion of the 2021 championship; 
        Räikkönen won 21 races, and the 2007 World Drivers' Championship across a 19 season Formula career. 
        Räikkönen's seat at Alfa Romeo was filled by Valtteri Bottas, who left Mercedes after 5 seasons. 
        George Russell replaced Bottas, 
        vacating the seat that he had held for the past 3 seasons at Williams. Russell was replaced by former Red Bull Racing driver Alex Albon.
        <br /><br />
        Zhou Guanyu, who finished third in the 2021 Formula 2 Championship, 
        joined Alfa Romeo, in place of Antonio Giovinazzi, who had been at the team since 2019. 
        Zhou became the first Chinese driver to compete in Formula One.
        <br /><br />
        Nikita Mazepin was originally contracted to compete for Haas,
        as part of a multi-year contract that started in 2021. Following the Russian invasion of Ukraine and the resultant cancellation 
        of Uralkali's title sponsorship of Haas, his contract was terminated. 
        He was replaced by Kevin Magnussen, who had last competed in 2020 with the same team.
    </Paragraph>
    <Divider DividerType="DividerType.TextContent" Text="Mid-season changes" />
    <Paragraph>
        Ahead of the Bahrain Grand Prix, Sebastian Vettel tested positive for coronavirus. 
        He was replaced at the event, and the subsequent Saudi Arabian Grand Prix by Aston Martin 
        by reserve driver Nico Hülkenberg, who last raced at the 2020 Eifel Grand Prix, driving for former team Racing Point.
        <br /><br />
        During the Italian Grand Prix weekend, Alex Albon suffered from appendicitis. 
        He was replaced at Williams by the Mercedes reserve driver 2020–21 Formula E and 2019 Formula 2 Champion Nyck de Vries, 
        who made his Formula One race debut.
    </Paragraph>
    <Divider></Divider>
    <CardDeck>
        <Card>
            <CardImage Source="/img/Introduction.jpg" Alt="Card image cap 3"></CardImage>
            <CardBody>
                <CardTitle Size="5">Season introduction</CardTitle>
                <CardText>
                    The 2022 Formula One Championship was a motor racing competition for Formula One cars, which was the 73rd edition of the Formula One
                    World Championship. The championship saw the introduction of significant changes to the sport’s technical regulations,
                    which had been planned for 2021, but were delayed until 2022 due to the COVID-19 pandemic.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Home/SeasonIntroduction" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/Summary.jpg" Alt="Card image cap 9"></CardImage>
            <CardBody>
                <CardTitle Size="5">Season summary</CardTitle>
                <CardText>
                    Max Verstappen won his second consecutive World Drivers Championship driving for Red Bull Racing. Charles Leclerc finished runner-up, driving for Ferrari. Sergio Pérez was third, driving for Red Bull Racing. Red Bull Racing won their fifth World Constructors Championship.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Home/SeasonSummary" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
        <Card>
            <CardImage Source="/img/Regulation.jpg" Alt="Card image cap 12"></CardImage>
            <CardBody>
                <CardTitle Size="5">Regulation changes</CardTitle>
                <CardText>
                    The 2022 F1 season will see the introduction of a new generation of cars, designed to improve the quality of racing and allow closer battles on track. In addition to the technical changes, the 2022 season will also see some changes in the sporting regulations, such as a frozen power unit development, a sliding scale of aerodynamic testing based on the constructors’ standings, and a return to a two-part pre-season test.
                </CardText>
                <Button Margin="Margin.Is2.FromTop" Color="Color.Primary">
                    <Link To="/Home/RegulationChanges" TextColor="TextColor.White">
                    READ MORE <Icon Name="IconName.ArrowRight" />
                    </Link>
                </Button>
            </CardBody>
        </Card>
    </CardDeck>
</Jumbotron>


@*Theme*@
<Blazorise.ThemeProvider Theme="@theme">
    <Router AppAssembly="typeof(App).Assembly">
        <Found>...</Found>
        <NotFound>...</NotFound>
    </Router>
</Blazorise.ThemeProvider>

@code {
    private string selectedSlide = "1";

    private Theme theme = new Theme
        {
            ColorOptions = new ThemeColorOptions { Primary = "#E10600" }
        };
}
